# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.Python
env/
venv/
ENV/
build/
dist/

# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/
local_settings.py
db.sqlite3

# React
node_modules/
build/

# Environment variables
.env

# MacOS
.DS_Store

# VS Code
.vscode/
